{% extends 'cards/base_cards.html'%}
 
	<h1>HI</h1>
 
{% block title %}
		
	Flats
{% endblock %}


{% block content %}
	<div class="card" style="width: 50rem;">
 	 <div class="card-header">
  	  ИНформация по населенному пункту
 	 </div>
 	 <ul class="list-group list-group-flush">
 	   <li class="list-group-item">Имя-{{contragent.contr_agent_name}}</li>
  	  <li class="list-group-item">Серия-{{contragent.contr_agent_serial}}</li>
  	  <li class="list-group-item">Номер-{{contragent.contr_agent_number}}</li>
 	 </ul>
	</div>	
	
{% if request.user.is_authenticated %}



<div class="obj-panel">
	<p>Выбрать</p>
	 {% block obj-panel%}
		<a class="btn btn-light" href="{{contragent.get_update_url}}">Edit</a>
		<a class="btn btn-danger" href="{{contragent.get_delete_url}}">Del</a>
		<a class="btn btn-light" href="{% url 'contragents_list_url'%}">List</a>
	 {%endblock%}
	</div>
{% endif%}
{% endblock %} 

<!--{% for fl in flat.items %}
		
		<h4>{{fl.label}}</h4>
		<p>{{fl}}</p>
	{% endfor %}
-->

