{% extends 'cards/base_cards.html'%}
 
	<h1>HI</h1>
 
{% block title %}
		
	Cards

{% endblock %}


{% block content %}

  <style>
		table {
 		 font-family: arial, sans-serif;
 		 border-collapse: collapse;
 		 width: 100%;
		
		}

		td, th {
  		border: 1px solid #dddddd;
  		text-align: left;
  		padding: 2px;
		heigth: 5px;
		}

		tr:nth-child(even) {
  		background-color: #dddddd;
		}
	</style>

	
	<form action="{% url 'card_add_sum_url' card_id=card.id %}" method='post'>
		
	<div class="form-group">
		{% csrf_token %}
		<table style="width:100%">
  	<tr>	 
		 <td>Владелец {{card.card_owner_name}}</td>
   		 <td>Контрагент {{form.contr_agent}}</td>
    		 <td>Сумма {{form.summa}}</td>
   		
	</tr>
	</table>
	<table style="width:100%">
		
	</table>
	
	</div>
	<button type="submit" class="btn btn-primary">Выполнить</button>
	</form>
  
{{s}}
{% endblock %} 

